<!DOCTYPE html>
<html>
<style type="text/css">
    .leaflet-container
    {
        overflow: visible;
    }
</style>
<script type="javascript">

</script>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style type = "text/css">
        body {margin:0 ; padding :0}
        #map {position:absolute; top:0;bottom:0;width: 69%;}
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <mapbox callback="callback" id="map" ></mapbox>
        <div ng-include="'app/views/sidebar.html'" />
    </div>
</div>
</body>
</html>