<!DOCTYPE html>
<html>
<style type="text/css">
    #sidebar {
       position: absolute;top:0;
       right: 0;
       width:19%;
       height: 100%;
       margin-left:0;
       padding-left:5px;
   }
</style>
<script type="javascript">

</script>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style type = "text/css">
        body {margin:0 ; padding :0}
        #map {position:absolute; top:0;bottom:0;width: 80%;}

    </style>
</head>
<body>
 <mapbox callback="callback" id="map"></mapbox>
<div id="sidebar">

</div>

</body>
</html>